<!DOCTYPE html>
<html lang="ko" class="">
<% include ../header.ejs %>

<body>
    <div id="app">
        <% include ../nav/top.ejs %>
        <% include ../nav/side.ejs %>
        <section class="is-title-bar">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
                <ul>
                    <li>자산관리</li>
                    <li>입출금내역</li>
                </ul>
            </div>
        </section>

        <section class="is-hero-bar">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
                <h1 class="title">
                    입출금내역
                </h1>
            </div>
        </section>

        <section class="section main-section">
            <div class="card mb-6">
                <div class="card has-table">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                            입출금목록
                        </p>
                        <a href="#" class="card-header-icon">
                            <span class="icon"><i class="mdi mdi-reload"></i></span>
                        </a>
                    </header>
                    <div class="card-content" id="progressTable">
                        <table>
                            <thead>
                                <tr>
                                    <th>일자</th>
                                    <th>자산</th>
                                    <th>원금</th>
                                    <th>수익금</th>
                                    <th>수익률</th>
                                    <th>수수료</th>
                                    <th>정산완료금</th>
                                    <th>지분</th>
                                </tr>
                            </thead>
                            <tbody id="rows">
                            </tbody>
                        </table>
                    </div>
                </div>
        </section>

        <% include ../footer.ejs %>
    </div>


    <script type="text/javascript" src="/js/main.js?v=1635129225704"></script>
    <!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
    <script>
        $("#datepicker").datepicker({
            dateFormat: 'yy-mm-dd'
        });
        $("document").ready(function () {
            let dt = new Date();
            var str = dt.getFullYear() + '-' + (dt.getMonth() + 1) + '-' + dt.getDate();
            $("#datepicker").val(str)
            $("#progressTable").hide();
            getList(1);
        })

        function makeRow(date, share, capital, principal, calculation) {
            let result = ""
            result += "<tr>";
            result += "<td data-label=\"일자\">" + date + "</td>"
            result += "<td data-label=\"자산\">" + capital.toLocaleString('ko-KR', {
                maximumFractionDigits: 0
            }) + "₩</td>"
            result += "<td data-label=\"원금\">" + principal.toLocaleString('ko-KR', {
                maximumFractionDigits: 0
            }) + "₩</td>"
            result += "<td data-label=\"수익금\">" + (capital - principal).toLocaleString('ko-KR', {
                maximumFractionDigits: 0
            }) + "₩</td>"
            result += "<td data-label=\"수익률\">" + (((capital / principal) - 1) * 100).toFixed(2) + "%</td>"
            result += "<td data-label=\"수수료\">" + ((capital - principal) * 0.15).toLocaleString('ko-KR', {
                maximumFractionDigits: 0
            }) + "₩</td>"
            result += "<td data-label=\"정산완료금\">"
            result += calculation.toLocaleString('ko-KR', {
                maximumFractionDigits: 0
            });
            result += "</td>"
            result += "<td data-label=\"지분\">" + (share * 100).toFixed(2) + "%</td>"
            result += "</tr>"
            return result;
        }

        function getList(page) {
            $('#rows').empty()
            let token = $.cookie('user');
            let data = {
                "token": token
            }
            jQuery.ajax({
                type: "GET",
                url: "history/" + page,
                dataType: "json",
                data: data,
                success: function (response) {
                    response['result'].forEach(data => {
                        $("#rows").append(makeRow(data['date'], data['share']['share'], data[
                            'capital'], data['share']['principal'], data['share'][
                            'calculation'
                        ]))
                    });
                    $("#progressTable").show();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
    </script>
</body>

</html>