<!DOCTYPE html>
<html lang="ko" class="">
<% include ../header.ejs %>

<body>
    <div id="app">
        <% include ../nav/top.ejs %>
        <% include ../nav/side.ejs %>
        <section class="is-title-bar">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
                <ul>
                    <li>Admin</li>
                    <li>Clients</li>
                </ul>
            </div>
        </section>

        <section class="is-hero-bar">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
                <h1 class="title">
                    Clients
                </h1>
            </div>
        </section>

        <section class="section main-section">
            <div class="card mb-6">
                <div class="card-content">
                    <div>
                        <div class="field">
                            <div class="card has-table">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                                        Clients
                                    </p>
                                    <a href="#" class="card-header-icon">
                                        <span class="icon"><i class="mdi mdi-reload"></i></span>
                                    </a>
                                </header>
                                <div class="card-content">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>이름</th>
                                                <th>자산</th>
                                                <th>투자원금</th>
                                                <th>수익금</th>
                                                <th>수익률</th>
                                                <th>미납수수료</th>
                                                <th>정산완료금</th>
                                                <th>지분</th>
                                                <th>작업</th>
                                            </tr>
                                        </thead>
                                        <tbody id="rows">
                                        </tbody>
                                    </table>
                                    <!-- not use yet
                                <div class="table-pagination">
                                  <div class="flex items-center justify-between">
                                    <div class="buttons">
                                      <button type="button" class="button active">1</button>
                                      <button type="button" class="button">2</button>
                                      <button type="button" class="button">3</button>
                                    </div>
                                    <small>Page 1 of 3</small>
                                  </div>
                                </div>
                                -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <% include ../footer.ejs %>
    </div>


    <script type="text/javascript" src="/js/main.js?v=1635129225704"></script>
    <!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
    <script>
        $("document").ready(async function () {
            const map = await mapEmailName();
            const assetRaw = await getUsedAsset();
            const asset = assetRaw['asset']['asset']
            getList(asset, map);
        })
        const getUsedAsset = function () {
            return new Promise((resolve, reject) => { // 1.
                let token = $.cookie('user');
                let data = {
                    "token": token
                }
                jQuery.ajax({
                    type: "GET",
                    url: "/asset/used",
                    dataType: "json",
                    data: data,
                    success: (res) => {
                        resolve(res); // 2.
                    },
                    error: (e) => {
                        reject(e); // 3.
                    }
                });
            });
        }

        const mapEmailName = function () {
            return new Promise((resolve, reject) => { // 1.
                let dic = {}
                let token = $.cookie('user');
                let data = {
                    "token": token
                }
                jQuery.ajax({
                    type: "GET",
                    url: "/user",
                    dataType: "json",
                    data: data,
                    success: (response) => {
                        let list = response['list'];
                        for (var count = 0; count < list.length; count++) {
                            dic[list[count]['email']] = list[count]['name'];
                        }
                        resolve(dic); // 2.
                    },
                    error: (e) => {
                        reject(e); // 3.
                    }
                });
            });
        }

        function feeCollection(email) {
            let token = $.cookie('user');
            let dt = new Date();
            let date = dt.getFullYear() + '-' + (dt.getMonth() + 1) + '-' + dt.getDate();
            let data = {
                "email": email,
                "date": date,
                "token": token
            }
            jQuery.ajax({
                type: "POST",
                url: "/admin/fee",
                dataType: "json",
                data: data,
                success: function (response) {
                    if (response.message) {
                        switch (response.message) {
                            case '1':
                                alert('업데이트완료')
                                break;
                            default:
                                console.log(`Sorry, we are out of ${response.message}.`);
                        }
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }

        function makeRow(name, share, asset, principal, calculation, email, level) {
            let result = ""
            let capital = asset * share
            result += "<tr>";
            result += "<td data-label=\"이름\">" + name + "</td>"
            result += "<td data-label=\"자산\">" + capital.toLocaleString('ko-KR', {
                maximumFractionDigits: 0
            }) + "₩</td>"
            result += "<td data-label=\"원금\">" + principal.toLocaleString('ko-KR', {
                maximumFractionDigits: 0
            }) + "₩</td>"
            result += "<td data-label=\"수익금\">" + (capital - principal).toLocaleString('ko-KR', {
                maximumFractionDigits: 0
            }) + "₩</td>"
            result += "<td data-label=\"수익률\">" + (((capital / principal) - 1) * 100).toFixed(2) + "%</td>"
            result += "<td data-label=\"미납수수료\">" + ((capital - calculation) * 0.15).toLocaleString('ko-KR', {
                maximumFractionDigits: 0
            }) + "₩</td>"
            result += "<td data-label=\"정산완료금\">"
            result += calculation.toLocaleString('ko-KR', {
                maximumFractionDigits: 0
            });
            result += "₩</td>"
            result += "<td data-label=\"지분\">" + (share * 100).toFixed(2) + "%</td>"
            result += "<td data-label=\"작업\" class=\"actions-cell\">"
            result += "<div class=\"buttons right nowrap\">"
            result +=
                "<button class=\"button small green --jb-modal\" data-target=\"sample-modal\" onClick=\"feeCollection('" +
                email + "')\" type=\"button\">"
            result += "<span class=\"icon\"><i class=\"mdi mdi-cash-check\"></i></span>"
            result += "</button>"
            result += "</div>"
            result += "</td>"
            result += "</tr>"
            return result;
        }

        function getList(asset, map) {
            let token = $.cookie('user');
            let data = {
                "token": token
            }
            jQuery.ajax({
                type: "GET",
                url: "share/client",
                dataType: "json",
                data: data,
                success: function (response) {
                    response['list'].forEach(data => {
                        $("#rows").append(makeRow(map[data['email']], data['share'], asset, data[
                            'principal'], data['calculation'], data['email']))
                    });
                    $("#progressTable").show();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
    </script>
</body>

</html>